#sunset {
    width: 500px;
    height: 250px;
}

#sunset-cover {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

#sunset-contain {
    width: 500px;
    height: 250px;
    object-fit: contain;
}


