* {
    box-sizing: border-box;
    
}

p {
    padding-right: 10px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
 * { 
     width: 100%;
}
}
