<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flexbox</title>
        <link rel="stylesheet" href="../../../../main.css">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <header>

        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Layout Расположение элементов</a></li>
            </ul>
        </nav>
        <main>
            <h1>Flexbox</h1>
            <p>Модуль гибкой компоновки упрощает проектирование гибкой адаптивной структуры
            макета без использования float или позиционирования.</p>
            <h2>Отображение в браузере:</h2>
            <div class="realization">
                    <p>Свойство flex-wrap указывает, следует ли переносить элементы flex или нет.</p>
                    <p>Justify-content позволяет выравнивать блоки по горизонтали.</p>
                    <p>Align-items позволяет сохранить высоту элемента с выбранным видом выравнивания.</p>
                    <p>Flex-grow позволяет задать блоки с разными соотношением ширины.</p>
                    <div class="flex-container-1">
                        <div class="block-1">Блок 1</div>
                        <div class="block-2">Блок 2</div>
                        <div class="block-1">Блок 3</div>
                    </div>
            </div>
            <h2>Код:</h2>
            <div class="code">
                <h3>HTML</h3>
                <img src="code1.jpg" alt="Flexbox HTML">
                <h3>CSS</h3>
                <img src="code2.jpg" alt="Flexbox CSS">
            </div>
            <h2>Flexbox макет сайта</h2>
            <h3>Отображение в браузере:</h3>
            <div class="realization">
                <div class="flex-container-2">
                    <div class="header">header</div>
                    <div class="nav">nav</div>
                    <div class="aside">aside</div>
                    <div class="main">main</div>
                    <div class="footer">footer</div>
                </div>
            </div>
            <h3>Код:</h3>
            <div class="code">
                <h4>HTML</h4>
                <img src="code3.jpg" alt="Flexbox макет сайта HTML">
                <h4>CSS</h4>
                <img src="code4.jpg" alt="Flexbox макет сайта CSS1">
                <br>
                <img src="code5.jpg" alt="Flexbox макет сайта CSS2">
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>