<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout - The Position Property</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <header>

        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Layout Расположение элементов</a></li>
            </ul>
        </nav>
        <main>
            <h1>Layout - The Position Property</h1>
            <h2>Отображение в браузере:</h2>
            <div class="realization">
                <div class="block-1">Static. Элемент с положением: "статический";"
                не позиционируется каким-либо особым образом; он всегда располагается
                в соответствии с обычным потоком страницы. Применен по умолчанию.</div>
                <div class="block-2">Relative. 
                Элемент с положением: "относительный" позиционируется относительно
                своего нормального положения.
                Установка свойств top, right, bottom и left относительно позиционированного
                элемента приведет к его отклонению от его нормального положения.</div>
                <div class="container-relative">Контейнер с относительными позиционированием.
                    <div class="block-3">Absolute. Элемент с положением: "абсолютный"
                    позиционируется относительно родительского элемента (вместо
                    позиционированного относительно окна просмотра, как фиксированный).
                    Если элемент с абсолютным позиционированием не имеет позиционированных
                    предков, он позиционируется относительно тела страницы.</div>
                </div>
                <div class="block-4">Fixed. 
                Элемент с положением: "фиксированный" расположен относительно окна просмотра,
                что означает, что он всегда остается на том же месте, даже если страница прокручивается.
                Свойства top, right, bottom и left используются для позиционирования элемента.
                Фиксированный элемент не оставляет пробела на странице, где он обычно находился бы.</div>
                <div class="block-5">Sticky. Элемент с положением: "прилипший" позиционируется на основе позиции
                прокрутки пользователя. Прилипший элемент переключается между относительным и фиксированным,
                в зависимости от положения прокрутки. Он позиционируется относительно
                до тех пор, пока в окне просмотра не будет достигнута заданная позиция смещения,
                а затем он «закрепится» на месте (например, позиция: фиксированная).</div>
            </div>
            <h2>Код:</h2>
            <div class="code">
                <h3>HTML</h3>
                <img src="code1.jpg" alt="Layout - The Position Property HTML">
                <h3>CSS</h3>
                <img src="code2.jpg" alt="Layout - The Position Property CSS1">
                <br>
                <img src="code3.jpg" alt="Layout - The Position Property CSS2">
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>