<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grid Layout Module</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <header>

        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Layout Расположение элементов</a></li>
            </ul>
        </nav>
        <main>
            <h1>Grid Layout Module</h1>
            <h2>Grid</h2>
            <h3>Отображение в браузере:</h3>
            <div class="realization">
                <div class="grid-container-1">
                    <div class="block block-1">Ячейка 1</div>
                    <div class="block block-2">Ячейка 2</div>
                    <div class="block block-3">Ячейка 3</div>
                    <div class="block block-4">Ячейка 4</div>
                    <div class="block block-5">Ячейка 5</div>
                    <div class="block block-6">Ячейка 6</div>
                    <div class="block block-7">Ячейка 7</div>
                    <div class="block block-8">Ячейка 8</div>
                </div>
            </div>
            <h2>Код:</h2>
            <div class="code">
                <h4>HTML</h4>
                <img src="code1.jpg" alt="Grid Layout Module1 HTML">
                <h4>CSS</h4>
                <img src="code2.jpg" alt="Grid Layout Module1 CSS">
            </div>
            <h2>Grid макет сайта</h2>
            <h3>Отображение в браузере:</h3>
            <div class="realization">
                <div class="grid-container-2">
                    <div class="block header">header</div>
                    <div class="block nav">nav</div>
                    <div class="block main">main</div>
                    <div class="block aside">aside</div>
                    <div class="block footer">footer</div>
                </div>
            </div>
            <h2>Код:</h2>
            <div class="code">
                <h4>HTML</h4>
                <img src="code3.jpg" alt="Grid Layout Module2 HTML">
                <h4>CSS</h4>
                <img src="code4.jpg" alt="Grid Layout Module2 CSS">
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>