<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout Расположение элементов</title>
    </head>
    <body>
        <header>

        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Геометрия</a></li>
                <li><a href="./layout-position-property/index.html">Layout - The Position Property</a></li>
                <li><a href="./layout-float-and-clear/index.html">Layout - float and clear</a></li>
                <li><a href="./flexbox/index.html">Flexbox</a></li>
                <li><a href="./grid-layout-module/index.html">Grid Layout Module</a></li>
            </ul>
        </nav>
        <main>
            <h1>Layout Расположение элементов</h1>
        </main>
        <footer>
            
        </footer>
    </body>
</html>