/*специфичность=1(тег)+100(id)=101*/
p#id1 {
    background-color: rgb(122, 71, 71);
}

/*специфичность=100(id)=100*/
#id1 {
    background-color: rgb(29, 14, 163);
}

/*специфичность=1(тег)+10(класс)=11*/
p.class1 {
    background-color: rgb(134, 218, 25);
}

/* специфичность=10(класс)=10*/
.class1 {
    background-color: rgb(194, 46, 174);
}

/* специфичность=1(тег)=1*/
p {
    background-color: rgb(44, 226, 217);
}

/*специфичность=0(all)=0*/
* {
    background-color: rgb(249, 250, 180);
    width: 500px;
}

