* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(231, 231, 231);
    background-image: linear-gradient(rgb(160, 160, 160), rgb(255, 255, 255));
    background-repeat: no-repeat;
}

header {
    height: 50px;
    background-color: rgb(82, 82, 82);
    margin: 5px;
    color: #fff;
    font-size: 24px;
    padding: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

header::after {
    content: "front end";
}

nav {
    background-color: rgb(82, 82, 82);
    padding: 10px;
    margin: 5px;
}

nav ul {
    list-style-type: none;

}

nav li {
    float: left;
    box-shadow: 3px 3px 8px rgb(43, 43, 43);
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(43, 43, 43);
}

nav li:first-child a::before{
    content: " \2191";
}

nav a:hover {
    color: #eee;
    background-color: rgb(43, 43, 43);
    box-shadow: 3px 3px 8px rgb(43, 43, 43);
    transition: 0.3s ease;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

main {
    margin: 5px;
    min-height: 690px;
}

main h1 {
    text-align: center;
}

footer {
    height: 50px;
    background-color: rgb(82, 82, 82);
    padding: 13px;
    margin: 5px;
    color: #fff;
    font-size: 24px;
    text-align: center;

}

footer::after {

    content: " \00A9 2019 Nesterov Ivan Vladimirovich";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main {
    min-height: 300px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}