.tooltip {
    display: inline-block;
    position: relative;
    font-size: 18px;
}

.tooltiptext {
    display: block;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    padding: 5px 10px;
    background-color: rgb(31, 31, 31);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    top: -21px;
    right: -110px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 

