<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout - float and clear</title>
        <link rel="stylesheet" href="../../../../main.css">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <header>

        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Layout Расположение элементов</a></li>
            </ul>
        </nav>
        <main>
            <h1>Layout - float and clear</h1>
            <h2>Отображение в браузере:</h2>
            <div class="realization">
                <div class="block-1 clearfix">
                    <img class="float" src="image.jpg" alt="example image">
                    Картинка плывет вправо, текст заполняет оставшееся пространство.
                    <br>
                    Применен Clearfix для того, чтобы картинка не выплывала за границы блока.
                </div>
            </div>
            <h2>Код:</h2>
            <div class="code">
                <h3>HTML</h3>
                <img src="code1.jpg" alt="Layout - float and clear HTML">
                <h3>CSS</h3>
                <img src="code2.jpg" alt="Layout - float and clear CSS">
            </div>
            <h2>Float макет сайта</h2>
            <h3>Отображение в браузере:</h3>
            <div class="realization">
                <div class="float clearfix">
                    <div class="header">header</div>
                    <div class="nav">nav</div>
                    <div class="main">main</div>
                    <div class="aside">aside</div>
                    <div class="footer">footer</div>
                </div>
            </div>
            <h3>Код:</h3>
            <div class="code">
                <h4>HTML</h4>
                <img src="code3.jpg" alt="Float макет сайта HTML">
                <h4>CSS</h4>
                <img src="code4.jpg" alt="Float макет сайта CSS1">
                <br>
                <img src="code5.jpg" alt="Float макет сайта CSS2">
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>