<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout - float and clear</title>
    </head>
    <body>
        <header>

        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Layout Расположение элементов</a></li>
            </ul>
        </nav>
        <main>
            <h1>Layout - float and clear</h1>
        </main>
        <footer>
            
        </footer>
    </body>
</html>