* {
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    width: 180px;
    text-transform: uppercase;
}

.dropdown-button {
    width: 100%;
    color: #fff;
    background-color: rgb(57, 18, 233);
    padding: 15px 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: rgb(48, 13, 204);
    box-shadow: 5px 2px 10px #aaa;
}

.dropdown-content {
    position: absolute;
    width: 100%;
    background-color: rgb(240, 226, 245);
    display: none;
    box-shadow: 5px 2px 10px #aaa;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
}

.dropdown-content a:hover {
    background: rgb(48, 13, 204);
    color: #fff;
    box-shadow: inset 2px 2px 30px #aaa;
}

